@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

.position {
	font-size: 3.2rem;
	font-family: "Bellefair", serif;
	color: #d0d6f9;
}

.crewMemberName {
	font-size: 5.6rem;
	font-family: "Bellefair", serif;
	color: white;
}
.paragraph {
	font-size: 1.8rem;
	font-family: "Barlow", sans-serif;
	color: #d0d6f9;
	margin-bottom: 9.6rem;
	line-height: 3.2rem;
}
